//= require material-design-lite/material.min.css

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 20px;
}

.page-content .mdl-textfield {
  display: block;
}

.mdl-mini-footer {
  padding: 5px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0;
}

.mdl-navigation__link:hover,
.mdl-navigation__link:focus {
  background-color: #5a69bd;
}

.user-name {
  padding: 0 24px;
}

.mdl-button:hover,
.mdl-button:focus {
  opacity: 0.8;
}

.users--icon {
  margin-right: 5px;
  color: #3F51B5;
}
